**/__pycache__/**
**/.pytest_cache/**
**/.mypy_cache/**
**/*.egg-info/**
**/*.egg-info/**
**/*.bak/**
**/*.pyc/**
**/*.pyo/**
**/*.pyd/**
**/*.pyw/**
**/*.pyz/**
**/*.pywz/**
**/*.pyzz/**
**/*.pywzz/**
**/*.pyzzz/**
**/*.pywzzz/**
**/*.cpython-**/**